<div class="background">
  <div class="register-container">
    <h1 class="text-center">Cadastrar-se</h1>
    <!-- Formulário de registro -->
    <form id="register-form">
      <!-- Campo de nome -->
      <div class="form-group">
        <label for="name" class="form-label">Nome<i class="required-field">*</i></label>
        <input class="form-control" id="name" [(ngModel)]="user.name" name="name" type="text" required placeholder="Digite seu nome">
      </div>

      <!-- Campo de e-mail -->
      <div class="form-group mt-3">
        <label for="email" class="form-label">E-mail<i class="required-field">*</i></label>
        <input class="form-control" id="email" [(ngModel)]="user.username" name="email" type="email" required placeholder="Digite seu e-mail">
      </div>

      <!-- Campo de senha -->
      <div class="form-group mt-3">
        <label for="password" class="form-label">Senha<i class="required-field">*</i></label>
        <input class="form-control" id="password" [(ngModel)]="user.password" name="password" type="password" required
               placeholder="Digite sua senha">
      </div>

      <!-- Campo de CPF -->
      <div class="form-group mt-3">
        <label for="taxId" class="form-label">CPF<i class="required-field">*</i></label>
        <input class="form-control" id="taxId" [(ngModel)]="user.taxId" maxlength="11" name="taxId" type="text" required placeholder="Digite seu CPF">
      </div>

      <!-- Campo de CEP -->
      <div class="form-group mt-3">
        <label for="zipCode" class="form-label">CEP<i class="required-field">*</i></label>
        <input class="form-control" id="zipCode" [(ngModel)]="user.zipCode" maxlength="8" name="zipCode" type="text" required placeholder="Digite seu CEP">
      </div>

      <!-- Campo de celular -->
      <div class="form-group mt-3">
        <label for="phone" class="form-label">Celular</label>
        <input class="form-control" id="phone" [(ngModel)]="user.phone" maxlength="11" name="phone" type="tel" placeholder="Digite seu celular">
      </div>

      <!-- Botão de envio do formulário -->
      <div class="form-group mt-3 text-center">
        <button class="btn btn-lg btn-success" type="submit" (click)="createUser()">Enviar</button>
      </div>
    </form>

    <div class="login-section">
      <p>Já possui uma conta?</p>
      <!-- Botão para redirecionar para a página de login -->
      <button class="login-botao" routerLink="/login">Login</button>

      <!-- Voltar para página inicial -->
      <div class="inicio-section">
        <p>Voltar a tela inicial?</p>
        <!-- Botão para redirecionar para a página inicial -->
        <button class="pagina_inicial-btn" routerLink="">Inicio</button>
      </div>
    </div>

  </div>
</div>
