<div class="background">
  <!-- Container para o formulário de registro -->
  <div class="register-container">
    <h1 class="text-center">{{ title }}</h1>
    <!-- Formulário de produtos -->
    <form id="register-form">
      <!-- Campo do nome do lanche -->
      <div class="form-group">
        <label for="nome_lanche" class="form-label">Nome do produto<i class="required-field">*</i></label>
        <input class="form-control" id="nome_lanche" name="nome_lanche" [(ngModel)]="product.name" type="text" required
               placeholder="Digite o nome do produto">
      </div>

      <!-- Campo de descrição do lanche -->
      <div class="form-group mt-3">
        <label for="descricao" class="form-label">Descrição do produto<i class="required-field">*</i></label>
        <input class="form-control" id="descricao" name="descricao" [(ngModel)]="product.description" type="text"
               required
               placeholder="Digite a descrição do produto">
      </div>

      <div class="form-group mt-3">
        <label for="categoria" class="form-label">Categoria do produto<i class="required-field">*</i></label>
        <select class="form-select" id="categoria" name="categoria" [(ngModel)]="product.category">
          <option value="" selected></option>
          <option value="APERITIVO">APERITIVO</option>
          <option value="LANCHE">LANCHE</option>
          <option value="REFRIGERANTE">REFRIGERANTE</option>
        </select>
      </div>

      <!-- Campo de preço -->
      <div class="form-group mt-3">
        <label for="preco" class="form-label">Valor do produto<i class="required-field">*</i></label>
        <input class="form-control"
               id="preco"
               name="preco"
               [(ngModel)]="product.price"
               mask="separator.2"
               prefix="R$ "
               thousandSeparator="."
               decimalMarker=","
               type="text" required
               placeholder="Digite o preço">
      </div>

      <!-- Campo de desconto -->
      <div class="form-group mt-3">
        <label for="desconto" class="form-label">Descontos</label>
        <input class="form-control" id="desconto" name="desconto" [(ngModel)]="product.discount" type="number" required
               placeholder="Digite o desconto em %">
      </div>

      <!-- Campo de Imagens -->
      <div class="form-group mt-3">
        <label for="imagens" class="form-label">Imagens<i class="required-field">*</i></label>
        <input class="form-control" id="imagens" name="imagens" [(ngModel)]="product.image" type="text" required
               placeholder="Ensira a imagem">
      </div>

      <div class="form-group mt-3">
        <label for="introducao" class="form-label">Introdução</label>
        <input class="form-control" id="introducao" name="introducao" [(ngModel)]="product.introduction" type="text"
               required
               placeholder="Ensira uma introdução para o produto aparecer no carrossel">
      </div>

      <!-- Botão de envio do formulário -->
      <div class="form-group mt-3 text-center">
        <button class="btn btn-lg btn-success" type="submit" (click)="addProduct()">Enviar</button>
      </div>
    </form>

    <!-- Voltar para página inicial -->
    <div class="inicio-section">
      <p>Voltar a tela inicial?</p>
      <!-- Botão para redirecionar para a página inicial -->
      <button class="pagina_inicial-btn" routerLink="/">Inicio</button>
    </div>

  </div>
</div>
